<% if(locals.user) {%>
<form action="/posts/createpost" method="POST">
    <textarea name="content" cols="30" rows="4" placeholder="content" required></textarea>
    <input type="submit" value="post">
</form>

<%= title %>

<ul>
    <% for(let p of post) { %>


    <li>
        <%= p.content%>
    </li>
    <% } %>
</ul>


<%} else {%>
<h1>Your Not Sign In</h1>
<%}%>